.authapp-container {
  background: #fafbfc;
  min-height: 100vh;
}

.authapp-box {
  background: #fff;
  border-radius: 12px;
  max-width: 942px;
  margin: 0 auto;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.04);
  padding: 60px 32px 24px 32px;
}

.authapp-title {
  color: #000;
  font-family: var(--sds-typography-subtitle-font-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 40px;
}

.authapp-step {
  margin-bottom: 32px;
}

.authapp-step-title {
  color: var(--text-222222, #222);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  padding-bottom: 32px;
}
.num {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  text-align: center;
  border-radius: 16px;
  background: var(--text-222222, #222);
  /* 12/middle */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
}
.authapp-step-desc {
  color: var(--text-222222, #222);

  /* 14/middle */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  display: flex;
  gap: 8px;
  margin-bottom: 5px;
}

.authapp-qrs {
  display: flex;
  gap: 49px;
  margin-bottom: 16px;
  margin-top: 31px;
  margin-left: 25px;
}

.authapp-qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-666666, #666);
  text-align: center;
  /* 14/regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.authapp-manual {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  color: var(--text-222222, #222);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  img {
    cursor: pointer;
  }
}

.authapp-input {
  display: flex;
  width: 456px;
  height: 44px;
  padding: 0px 10px;
  align-items: center;
  gap: 327px;
  flex-shrink: 0;
  border: none;
  color: #000;
  margin-bottom: 30px;
  &::placeholder {
    color: var(--text-3, #86909c);
    text-align: center;
    font-family: 'PingFang SC';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    text-align: left;
  }
  &:focus-visible {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

.authapp-btn {
  margin-left: 30px;
  display: flex;
  width: 456px;
  height: 22px;
  padding: 20px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
  background: var(--light-button-default, #86fc70);
  color: var(--text-1, #222);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.408px;
  cursor: pointer;
  transition: background 0.2s;
}
.authapp-btn:active {
  background: #36c954;
}
.authapp-tip {
  color: var(--text-666666, #666);

  /* 14/regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
.authapp-copied-tip {
  color: #52c41a;
  font-size: 14px;
  margin-left: 8px;
  vertical-align: middle;
  transition: opacity 0.2s;
}
.authapp-verify-area {
  margin-left: 30px;
  margin-bottom: 24px;
}
.authapp-label {
  color: #000;

  /* M3/label/small */
  font-family: var(--Label-Small-Font, Roboto);
  font-size: var(--Label-Small-Size, 11px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Label-Small-Line-Height, 16px); /* 145.455% */
  letter-spacing: var(--Label-Small-Tracking, 0.5px);
  margin-bottom: 8px;
}
.authapp-send-btn {
  display: flex;
  height: 12px;
  padding: 20px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
  background: var(--light-button-default, #86fc70);
  cursor: pointer;
  color: var(--text-222222, #222);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  transition: background 0.2s;
  margin-bottom: 30px;
}
.authapp-send-btn:active {
  background: #36c954;
}
